@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    display: list-item;
    list-style: none;
    list-style-image: none;
    text-align: -webkit-match-parent;
}

@media only screen and (min-width: 1024px) {
    html, body{
        height: 100%;
        width: 100%;
        background-color: #F1F1F1F1;
        color: #505050;
        font-family: 'Titillium Web';
        font-size: 1rem;
        overflow-x: hidden;
        user-select: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    body{
        background-color: blue;
    }
}

@media only screen and (max-width: 600px) {
    body{
        background-color: pink;
    }
}